
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 25px 10%;
    flex-wrap: wrap;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Navbar ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.Navbar li{
    font-size: large;
    cursor: pointer;
}
.Navbar .nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Navbar select{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: larger;
}
.Navbar select option{
    background-color: black;
    color: white;
}
.Navbar button{
    display: flex;
    gap: 10px;
    padding: 3px 10px;
    font-size: large;
    background-color: white;
    color: black;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
}

@media (max-width : 992px){
    .Navbar{
        padding: 20px 8%;
    }
    .Navbar .nav-right{
        gap: 10px;
    }
    .Navbar button{
        gap: 8px;
        font-size: 16px;
    }
}
@media (max-width : 872px){
    .Navbar ul{
        display: none;
    }
}
@media (max-width : 492px){
    .Navbar{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}