@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
}
.app{
    /* width: 100vw; */
    background:linear-gradient(#040444,rgb(41, 56, 86),rgb(22, 22, 63));
    min-height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}